body {
    font-family: Arial, sans-serif;
    
}
.header {
    color: #fff;
    padding: 20px;
}
.logo{
    font-size: 2rem;
    color:#2980b9;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logo:hover{
    transform: scale(1.1);
}
span{
    color:white;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
   
}

.login-form {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width:600px;
    margin-top: 5px;
    padding: 40px;
    background-color: rgba(255, 255, 225, 0.2);
    
    
}

h2, h3 {
    text-align: center;
}

form {
    margin-top: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    
}

button {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color:black;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    width: 50%;
    border-radius:5px;
}

button:hover {
    background-color: #444;
}

p {
    text-align: center;
    margin-top: 15px;
}

a {
    color: #007bff;
    text-decoration: none;
}
.button{
    display: block;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    width: 50%;
    border-radius:5px;
    background-color:#2980b9;
    color: white;
    font-size: 18px;
}
.button:hover{
    background-color: #007bff;
}