*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
:root{
    --bg-color:#000;
    --snd-bg-color:#111;
    --text-color:#fff;
    --main-color:#2980b9;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color:var(--text-color);
}
section{
    min-height: 100vh;
    padding: 10rem 8% 2rem;
}
.logo{
    font-size: 3rem;
    color:var(--main-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logo:hover{
    transform: scale(1.1);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index:1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
}
span{
    color: var(--text-color);
}
.navbar{
    display: flex;
}
.navbar a{
    font-size: 1.8rem;
    font-weight: 500;
    color:var(--text-color);
    margin-left: 4rem;
    transition: all 0.5s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active{
    color:var(--main-color);
    border-bottom: 1px solid var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
.nav-btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: transparent;
    color:var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all 0.5s ease;
}
.nav-btn:hover{
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 18px var(--main-color);
}
.home-btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: transparent;
    color:var(--text-color);
    border: 2px solid var(--text-color);
    border-radius: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all 0.5s ease;

}
.home-btn:hover{
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 18px var(--text-color);
}

.home{
    padding:100px 200px;
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.home .content{
    z-index: 888;
    color: var(--text-color);
    width: 70%;
    margin-top: 50px;
}
.home .content h1{
    font-size: 5em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}
.home .content h1 span{
    font-size: 1.2em;
    font-weight: 600;
}
.home .content p{
   margin-bottom: 65px;
   font-size: 2em;
}
.home .media-icons{
    z-index: 888;
    position: absolute;
    right: 15px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}
.home .media-icons a{
    color: var(--main-color);
    font-size: 2.5em;
}
.home .media-icons a:hover{
    transform: scale(1.3);
}
.home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}
.slider-navigation .slide-btn{
    width:12px;
    height: 12px;
    background: var(--text-color);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255,255,255,0.5);
    transition: 0.3s ease;
}
.slider-navigation .slide-btn:not(:last-child){
    margin-right: 20px;
}
.slider-navigation .slide-btn:hover{
    transform: scale(1.2);
}
.slider-navigation .slide-btn.active{
    background: var(--main-color);
}
.slide{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
    
}
.slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}
.card-container {
    display: flex;
    justify-content: space-around;
}

.section {
    text-align: center;
    padding: 20px;
}
.section i{
    font-size: 30px;
    color: var(--main-color);
}
.section i:hover{
    color: var(--text-color);
}
.section h3 {
    font-size: 20px;
    margin-bottom: 5px;
    color: var(--main-color);
    font-weight:bold;
}

.section p {
    font-size: 14px;
}
.card{
    width: 35rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    background: transparent;
    color:var(--text-color);
    border: 2px solid var(--text-color);
    border-radius: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all 0.5s ease;
    cursor: pointer;
}
.card:hover{
    color: var(--text-color);
    box-shadow: 0 0 18px var(--main-color);
    transform: translateY(-10px);
}
.Home-img{
    float: left;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: 100vh;
    transition: transform 0.5s ease-in-out;
    margin: 50px;

}
.Home-img:hover{
    transform: scale(1.2);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}
.home-content h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;

}
.home-card{
    width: fit-content;
    display: flex;
    flex-direction:column;
    margin-left: 400px;
    padding: 1rem 2.8rem;
    background: transparent;
    color:var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
    transition: tansform 0.3s ease-in-out;
    cursor: pointer;
    text-align: left;
}
.home-card p{
    margin: 0 10px;
    transition: transform 0.5s ease-in-out;
}
.home-card p:hover{
    transform: scale3d(1)
}
.home-card:hover{
    transform: scale(1.15);
    
}
i{
    font-size: 30px;
    color: var(--main-color);
}
.services{
    background: var(--bg-color);
}
.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,auto));
    align-items: center;
    gap: 2.3rem;
    margin-top: 4.1rem;
}
.row{
    background: var(--bg-color);
    border-radius: 27px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px var(--main-color);
    padding: 20px;
    transition: all 0.5s ease;
}
.row img{
    height: auto;
    width: 100%;
    border-radius: 27px;
    margin-bottom: 1.4rem;
}
.row h4{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.4;
    text-align: center;
}
.row:hover{
    border: 1px solid var(--main-color);
    transform: translateY(-5px)scale(1.04);
    cursor: pointer;
}

.heading{
    color: var(--main-color);
    font-weight: 700;
    text-align: center;
    font-size: 6rem;
}
.list-btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    color:var(--text-color);
    border: 2px solid var(--main-color);
    border-radius: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all 0.5s ease;
    text-align: center;
    align-items: center;
}
.list-btn:hover{
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 18px var(--main-color);
}
.schedule-container {
    width: 100%;
    height: 100%;
    margin: 20px;
    padding: 20px;
    background:var(--bg-color);
    color:var(--text-color)
  }
  
  h1, h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #333333;
    padding: 10px;
    text-align: center;
    font-size: 15px;
  }
  td{
    cursor: pointer;
  }
  th {
    background-color: #222222;
  }
  th:hover{
    background-color:#111;
  }
  td:hover{
    background-color:#2d3436;
  }
  button {
    background-color: #2980b9;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color:#0984e3;
  }
  .banner {
    background-image: url("Media/banner.jpg"); 
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff; 
  }
  .banner:hover{
    transform:scale(0.94);
  }
  
  .content {
    text-align: center;
    padding: 30px;

  }
  .content h2{
    font-size: 20px;
  }
  
  .content h1{
    font-size: 60px;
  }
  .content p{
    font-size: 15px;
    font-weight: bolder;
  }
.banner-btn{
    color:#192a56;
    background-color: var(--text-color);
    font-weight: 900;
    border-radius: 25px;
}
.banner-btn:hover{
    background: #74b9ff;
}
.pricing-content{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(auto-fit,minmax(350px,auto));
    align-items: center;
    gap: 1.3rem;
  
}
.rows{
    background-color:#487eb0;
    border-radius: 27px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px var(--snd-bg-color);
    padding: 10px;
    transition: all 0.5s ease;
}
.rows h3{
    font-size: 30px;
    text-align: center;
}
.rows h1{
    font-size: 20px;
    text-align: center;
    color: var(--bg-color);
    font-weight: 800;
}
.rows h2{
    font-size: 20px;
    text-align: center;
    color: var(--bg-color);
    font-weight: 700;
}
.rows ul{
    text-align: justify;

}
.rows li{
    color: var(--bg-color);
    font-weight: 600;
    font-size: 15px;
    text-align: justify;
}
.list-btn{
    color: var(--text-color);
    background-color: var(--bg-color);

}
.list-btn:hover{
    background-color: #2d3436;
}
.rows:hover{
    border: 1px solid var(--main-color);
    transform: translateY(-5px)scale(1.04);
    cursor: pointer;
}